<head>
  <link rel="stylesheet" href="/static/mycss.css">

  <script src="/static/example.js"></script>
</head>

<h1 class="my-class" id="hello">
  PICK A FORTUNE COOKIE
</h1>

<p class="center-para">
  {{someText}}
</p>

<p class="center-para">
<a href="/fortune">
  <img src="/static/pictures/fortune-cookie.svg" 
    style="object-fit:contain;
              width:200px;
              height:200px;"
    onclick = "giveFortune()">
<div class = "fortuneBox">
{{fortune}}
</div>

<a href="/">
  <button>
    get another?
  </button>
</a>
  
</p>
